name: 'Generate Mermaid Diagrams'

on:
  push:
    paths:
      - '**.mmd'
      - '**.md'

jobs:
  generate-diagrams:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout code'
        uses: actions/checkout@v3

      - name: 'Get changed files'
        id: changed-files
        uses: tj-actions/changed-files@v35
        with:
          files: |
            **.mmd
            **.md

      - name: 'Generate Mermaid diagrams'
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: ./
        with:
          input-files: ${{ steps.changed-files.outputs.all_changed_files }}
          output-dir: 'generated-diagrams'

      - name: Commit rendered svg files
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: stefanzweifel/git-auto-commit-action@v5.0.0
        with:
          file_pattern: "generated-diagrams/*.svg"
          commit_message: "docs: Generate Mermaid diagrams"
